.DS_Store
.rat-out
*.bak
*.swp
*.tmp
*~.nib
*.iml
*.launch
*.swp
*.tokens
.classpath
.externalToolBuilders/
.gradle/
.vscode/
*.code-workspace
.idea/*
!.idea/codeStyles/
.loadpath
.metadata
.prefs
.project
.recommenders/
.settings
.springBeans
.vertx
bin/
classes/
gradle/wrapper/*.jar
local.properties
target/
tmp/
build/
out/
_staged
node_modules/
eth-client/data
eth-client/data2
eth-client/mainnet
data
ssb-keys
docs_warning
io/org
wallet.key