<!--
Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
The ASF licenses this file to You under the Apache License, Version 2.0
(the "License"); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at
#
     http://www.apache.org/licenses/LICENSE-2.0
#
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <title th:text="${@htmlConfig.title}"></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
</head>
<body>
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4" th:text="${@htmlConfig.title}"></h1>
    <p class="lead" th:text="${@htmlConfig.requestMessage}"></p>
    <hr class="my-4">
    <p>Faucet information</p>
    <ul>
      <li>Address: <span th:text="${@wallet.address}"></span></li>
      <li>ETH delivery max: <span th:text="${@htmlConfig.maxETH}"></span></li>
    </ul>
    <form action="#" th:action="@{/}" th:object="${faucetRequest}" method="post">
      <div class="alert" th:classappend="*{alertClass}" role="alert" th:text="*{message}">
      </div>
      <h4  class=""></h4>
      <input
          type="hidden"
          th:name="${_csrf.parameterName}"
          th:value="${_csrf.token}"/>
      <div class="form-group">
        <input class="form-control" id="address" aria-describedby="addressHelp" type="text" th:field="*{addr}"/>
        <small id="addressHelp" class="form-text text-muted" th:text="${@htmlConfig.addressHelp}"></small>
      </div>
      <button class="btn btn-primary" type="submit" th:text="${@htmlConfig.submitBtn}"></button>
    </form>
  </div>

  <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</div>
</body>
</html>